<h1>je suis le formulaire pour creer et editer</h1>
<%= form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :star %>
  <%= f.number_field :star %>
  <%= f.submit %>
<% end %>
<%= link_to "retour index", restaurants_path %>
