<h1>Tous le monde </h1>
<ol>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= restaurant.name %>
    <%= link_to "show", restaurant_path(restaurant) %>
    <%= link_to "edit", edit_restaurant_path(restaurant) %>
    <%= link_to "destroy", restaurant_path(restaurant), method: :delete, data: { confirm: "are you sure?"} %>
  </li>
  <% end %>
</ol>
<%= link_to "creer", new_restaurant_path %>
<%= link_to "retour Home", root_path %>
